html, body {
  padding: 0;
  margin: 0;
}

.splitscreen {
  display: flex;
  flex-wrap: wrap;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.embedded {
  flex: 1;
  min-width: 600px;

}

.embedded iframe {
  height: 100%;
  width: 100%;
}

.settings-openbtn {
  position: absolute;
  z-index: 100;
}

.settingsdialog-backdrop {
  z-index: 20;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.8);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.settingsdialog-box {
  background: white;
  max-width: 50%;
  min-height: 200px;
  min-width: 400px;
}
